.gocart {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 10001;
}
.moredown {
    position: fixed;
    right: 60px;
    bottom: 80px;
    z-index: 10001;
    animation: moredown 0.3s linear 0.1s infinite alternate;
}
.screen01 {
    background: url(../images/01-bg.png) no-repeat center bottom; 
}
.content {
    width: 900px;
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -450px;
    background: rgba(255, 255, 255, 0.2);
}
 .screen01 .goods {
    position: absolute;
    top: 230px;
    left: 35px;
}
.screen01 .sofa {
    position: absolute;
    left: 230px;
    top: 150px;
    animation: sofa01 0.8s linear infinite alternate;
}
.screen01 .fly {
    position: absolute;
    right: -50px;
    top: 20px;
    animation: fly01 1s linear infinite alternate;
}

/* 定义动画函数 */
@keyframes fly01 {
    from {
        transform: translateY(-30px);
    }
    to{
        transform: translateY(30px);
    }
}
@keyframes sofa01 {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(20px);
    }
}
@keyframes moredown{
    from{
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}

/* 第二屏 */
.screen02 {
   background: url("../images/02-bg.png") no-repeat center bottom; 
}
.screen02 .goods {
    position: absolute;
    bottom: 210px;
    left: 50%;
    margin-left: -220px;
    transform: scale(0);
    transform-origin: right bottom;
}
.screen02 .sofa {
    transform: scale(0.5);
    position: absolute;
    top: 132px;
    left: 291px;
    opacity: 0;
    z-index: 1001;
}
.search {
    position: absolute;
    top: 120px;
    right: 170px;
    /* transform: scale(0.7); */
    /* top: 230px;
    left: 350px; */
    transform-origin: right top;
    opacity: 0;
}
.screen02 .key {
    position: absolute;
    top: 5px;
    left: 100px;
    opacity: 0;
}
.screen02 .text {
    text-align: center;
}
.screen02 .text2 {
    position: absolute;
    opacity: 0;
}

.screen02.now .text .text1{
    position: absolute;
    opacity: 0;
}
.screen02.now .text .text2{
    position: static;
    opacity: 1;
    transition: opacity 3s;
}
.screen02.now .search {
    animation: search02 3s linear forwards;
}
.screen02.now .search .key {
    opacity: 1;
    transition: all 1s linear 1s;
}
.screen02.now .goods {
    transform: scale(1);
    transition: all 1s linear 2s;
}

@keyframes search02 {
    0% {
        transform: translate(1200px,230px);
        opacity: 1;
    }
    33.3% {
        transform: translate(-180px,130px);
    }
    66.6% {
        transform: translate(-180px,130px);
    }
    100% {
        
        transform: scale(0.7);
        opacity: 1;
    }
}

/* 第三屏 */
.screen03 {
    background: url("../images/03-bg.png") no-repeat center bottom;
}
.screen02.leaved .sofa{
    animation: leaved 1s linear ;
}
.screen03 .size img:last-child{
    position: absolute;
    opacity: 0;
}
.screen03 .cart img:last-child{
    position: absolute;
    opacity: 0;
}
.screen03 .sofa {
    position: absolute;
    top: 180px;
    left: 210px;
    display: none;
    z-index: 1001;
    
}
.screen03 .size {
    position: absolute;
    bottom: 186px;
    right: 116px;
}
.screen03 .cart{
    position: absolute;
    right: 193px;
    bottom: 102px;
}
.screen03.now .sofa {
    display: block;
}
.screen03.now .size img:last-child{
    position: static;
    opacity: 1;
    /* transition: opacity 0.5s linear; */
}
.screen03.now .cart img:last-child{
    position: static;
    opacity: 1;
    /* transition: opacity 0.5s linear; */
}
.screen03.now .size img:first-child{
    display: none;
}
.screen03.now .cart img:first-child{
   display: none;
}

@keyframes leaved {
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: translate(-80px,750px);
    }
}

/* 第四屏 */
.screen04 {
    background: url(../images/04-bg.png) no-repeat center bottom;
}
.screen04 .cloud {
    position: absolute;
    top: -130px;
    left: -1200px;
    animation: cloud 10s linear infinite;
}
.screen04 .text {
    text-align: center;
}
.screen04 .text img:last-child{
    position: absolute;
    opacity: 0;
}
.screen04 .cart {
    position: relative;
    margin-top: 170px;
    text-align: center;
    z-index: 1002;
}
.screen04 .sofa {
    position: absolute;
    top: 180px;
    left: 383px;
    transform: rotate(45deg);
    opacity: 0;
}

.screen03.leaved .sofa {
    animation: leave03 1s linear ;
}
.screen04.now .sofa{
    opacity: 1;
    transform: translateX(1000px);
    transition: transform 2s linear;
}
.screen04.now .cart{
    transform: translateX(1000px);
    transition: all 2s linear;
}
.screen04 .address{
    position: absolute;
    width: 283px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.screen04 .name {
    position: absolute;
    top: 60px;
    left: 60px;
    display: none;
}
.screen04 .text.show img:first-child{
    position: absolute;
    opacity: 0;
}
.screen04 .text.show img:last-child{
    position: static;
    opacity: 1;
    transition: opacity 1s linear;
}

@keyframes cloud {
    from{
        left: -1200px;
    }
    to{
        left: 1200px;
    }
}

@keyframes leave03 {
    from{

    }
    to{
        transform: translate(170px,760px) rotate(45deg);
    }
}

/* 第五屏 */
.screen05 {
    background: url(../images/05-bg.png);
    /* overflow: hidden; */
}
.screen05 .card {
    position: absolute;
    top: 170px;
    left: 0;
}
.screen05 .cards {
    position: relative;
    z-index: 100;
}
.screen05 .order {
    position: absolute;
    top: -80px;
    left: 130px;
    transform: translateY(80px);
}
.screen05 .m2 {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.screen05.now .m2 {
    opacity: 1;
    transition: all 0.2s linear 1.1s;
}
.screen05 .mouse {
    position: absolute;
    right: 0;
    top: -450px;
}
.screen05 .hand {
    position: absolute;
    top: 680px;
    right: 50px;
    opacity: 0;
}
.screen05 .sofa {
    position: absolute;
    top: 310px;
    left: 130px;
    transform: rotate(30deg);
    opacity: 0;
    z-index: 10;
}
.screen05.now .hand{
    animation: hand 1s linear forwards;
}
.screen05.now .sofa{
    animation: sofa 2s linear 1.3s forwards;
}
.screen05.now .order {
    transform: none;
    transition: all 1s linear 2.3s;
}
@keyframes hand {
    from{
        opacity: 1;
        transform: translateY(500px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes sofa {
    from{
        opacity: 1;
        transform: translateY(-1000px) rotate(30deg);
    }
    50%{
        transform: translateY(-150px) rotate(30deg);
    }
    to{
        opacity: 1;
        transform: rotate(30deg);
    }
}

/* 第六屏 */
.screen06 {
    background: url(../images/06-bg.png) no-repeat 25% bottom;
}

.screen06.now {
    background-position: 100% bottom;
    transition: all 1s linear 1s;
}
.screen06 .cloud{
    position: absolute;
    top: -150px;
    left: 0;
}
.screen06 .cloud img:first-child{
    animation: cloud06 20s linear infinite alternate;
}
.screen06 .cloud img:last-child{
    position: absolute;
    top: 0;
    left: 30px;
    animation: cloud06 10s linear infinite alternate;

}
.screen06 .text {
    position: absolute;
    top: 0;
    left: 100px;
}
.screen06 .box {
    position: absolute;
    top: 80px;
    left: 165px;
    z-index: 100;
    transform: translateX(-610px);
}
.screen06 .car {
    position: absolute;
    bottom: 0;
    left: 160px;
    z-index: 200;
}
.screen06 .address {
    width: 93px;
    height: 56px;
    position: absolute;
    bottom: 120px;
    left: 300px;
}
.screen06 .worker {
    position: absolute;
    bottom: 0px;
    left: 160px;
    transform: scale(0);
    transform-origin: left bottom;
    z-index: 300;
}
.screen06 .say {
    position: absolute;
    top: -130px;
    right: -50px;
    opacity: 0;
}
.screen06 .door {
    position: absolute;
    top: 333px;
    right: 20px;
    opacity: 0;
}
.screen06 .person {
    position: absolute;
    top: -144px;
    left: 20px;
    transform-origin: right bottom;
    transform: scale(0);
}
.screen06 .address img:first-child{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.screen06 .address img:last-child{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.screen06.now .address img:first-child{
    opacity: 1;
    transition: all 0.3s linear 1.1s;
}
.screen06.now .address img:last-child{
    opacity: 1;
    transition: all 0.3s linear 2s;  
}

.screen06.now .address {
    animation: address06 1s linear 1s;
}
.screen06.now .worker   {
    animation: worker 2s linear 2s forwards;
}
.screen06.now .say {
    opacity: 1;
    transition: all 1s linear 4s;
}
.screen06.now .door {
    opacity: 1;
    transition: all 0.5s linear 5s;
}
.screen06.now .person {
    animation: person 2s linear 4.8s forwards;
}
.screen06 .text img:first-child {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
}
.screen06 .text img:last-child {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}
.screen06.now .text img:first-child{
    opacity: 0;
    transition: all 1s linear 4s;

}
.screen06.now .text img:last-child{
    position: static;
    opacity: 1;
    transition: opacity 1s linear 4s;
}

.screen05.leaved .sofa {
    animation: sofa0506 1s linear;  
}
.screen06 .box.show {
    animation: box 2s linear ;
}
@keyframes cloud06 {
    from{

    }
    to{
        transform: translateX(1000px);
    }
}
@keyframes sofa0506{
    from{
        opacity: 1;
    }
    to {
        transform: translateY(490px) scale(0.3) rotate(30deg);
        opacity: 1;
    }
}
@keyframes box {
    from{
        transform: translateX(-610px);
    }
    33.3%{
        transform: none;
    }
    66.6% {
        transform: none;

    }
    to{
        transform: translateY(440px) scale(0);
    }
}
@keyframes worker {
    from{
        transform: scale(0);
    }
    33%{
        transform: scale(1);
    }
    66% {
        transform: scale(1) translate(0px,-110px);
    }
    to  {
        transform: scale(1) translate(200px,-110px);
    }
}
@keyframes person{
    from{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    to{
        transform: scale(1) translateX(-160px);
    }
}

/* 第七屏 */
.screen07 {
    background: url("../images/07-bg.png") no-repeat center bottom;
}
.screen07 .star {
    position: absolute;
    top: 142px;
    left: 157px;
}
.screen07 .text {
    position: absolute;
    left: 160px;
    top: 180px;
    transform: scale(0);
    transform-origin: left bottom;
}
.screen07 .star img {
    float: left;
    margin-right: 6px;
    display: none;
}
.screen07.now .text{
    animation: text07 1s 1.7s forwards;
}
@keyframes text07{
    from{

    }
    70%{
        transform: scale(1.3);
    }
    to {
        transform: none;
    }
}

/* 第八屏 */
.screen08 {
    background: url(../images/08-bg.png);
}
.screen08 .btn {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.screen08 .btn img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.screen08 .btn:hover img:last-child{
    display: block;
}
.screen08 .again {
    position: absolute;
    top: 220px;
    left: 840px;
}
.screen08 .hand{
    position: absolute;
    top: 220px;
    left: 400px;
}




